:root {
  --fs-7: 0.958rem;
  --fs-8: 0.738rem;
  --fs-9: 0.638rem;
  --fs-10: 0.538rem;
  --p-6: 3.5rem;
  --m-6: 3.5rem;
  --swiper-pagination-color: var(--bs-warning);
  --swiper-pagination-bullet-inactive-opacity: .5;
  --swiper-pagination-bullet-inactive-color: var(--bs-gray-dark);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}html,body{
  height: 100%;
  min-width: 350px !important;
  font-family:  Helvetica, sans-serif;
}
img{
  display: block;
}

.h-90{
  height: 90%;
}


input::-ms-reveal,
input::-ms-clear {
  display: none;
}


/*X-Small*/
@media (max-width:575px){
  .fs-xs-7{
    font-size: var(--fs-7);
  }.fs-xs-8{
    font-size: var(--fs-8);
  }.fs-xs-9{
    font-size: var(--fs-9);
  }.fs-xs-10{
    font-size: var(--fs-10);
  }
}

/*Medium*/
@media (min-width:768px){
  .w-md-75{
    width: 75%;
  }
}


/*Additional Font size*/
.fs-7{
  font-size: var(--fs-7);
}.fs-8{
  font-size: var(--fs-8);
}.fs-9{
  font-size: var(--fs-9);
}.fs-10{
  font-size: var(--fs-10);
}


/*Additional svg fill colours*/
.fill-primary{
  fill: var(--bs-primary);
}.fill-warning{
  fill: var(--bs-warning);
}.fill-danger{
  fill: var(--bs-danger);
}.fill-white{
  fill: #fff;
}.fill-success{
  fill: var(--bs-success);
}.fill-dark{
  fill: var(--bs-dark)
}

/*Additional padding size*/
.p-6{
  padding: var(--p-6)!important;
}.ps-6 {
  padding-left: var(--p-6)!important;
}.pe-6 {
  padding-right: var(--p-6)!important;
}.px-6 {
  padding-right: 3.5rem!important;
  padding-left: 3.5rem!important;
}.py-6 {
  padding-top: var(--p-6)!important;
  padding-bottom: var(--p-6)!important;
}

/*Additional margin size*/
.m-6{
  margin: var(--m-7)!important;
}.ms-6 {
  margin-left: var(--m-7)!important;
}.me-6 {
  margin-right: var(--m-7)!important;
}.mx-6 {
  margin-right: var(--m-7)!important;
  margin-left: var(--m-7)!important;
}.my-6 {
  margin-top: var(--m-7)!important;
  margin-bottom: var(--m-7)!important;
}



.form-control:focus {
  outline: 0;
  color: var(--bs-dark);
  border-color: var(--bs-primary);
  background-color: var(--bs-white-rgb);
  box-shadow: 0 0 0 0.25rem rgb(61 178 255 / 25%);
}.btn-outline-primary:hover{
  color: var(--bs-white-rgb);
}

.passwordIcon{
  opacity: 1;
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 8px;
}.passwordIcon--hidden{
  display: none;
}

/*makes input element transparent*/
.inputIcon{
  opacity: 1;
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 8px;
}

/*removes bootstrap highlight */
.no-highlight{                      
  box-shadow:none !important; 
  outline: 0px !important; 
}
