*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}html,body{
  height: 100%;
  min-width: 350px !important;
  font-family:  Helvetica, sans-serif;
}
img{
  display: block;
}

/*removes bootstrap highlight */
.no-highlight{                                                                     /*overrides bootstrap default behavior of addition a border on nav-links classes*/
  box-shadow:none !important; 
  outline: 0px !important; 
}

.btn-outline-primary:hover{
  color: #fff;
}